
# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret
POSTGRES_DB=clashstats
POSTGRES_PORT=5432

# App
APP_PORT=8080

# Clash of clans
CLASH_OF_CLANS__MAIN_CLAN_TAG="#TAG_HERE"
CLASH_OF_CLANS__API_URL="https://api.clashofclans.com/v1/"
CLASH_OF_CLANS__API_USER_TOKEN="TOKEN_FROM_CLASH_OF_CLANS_API_HERE"