.app-loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff; /* Поменяй на #1e1e2d, если приложение в темной теме */
    font-family: 'Roboto', sans-serif;
}

.material-spinner {
    animation: rotate 2s linear infinite;
    width: 48px;
    height: 48px;
    margin-bottom: 16px;
}

.material-spinner circle {
    stroke: #594AE2; /* Стандартный Primary цвет MudBlazor */
    stroke-width: 4;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
    fill: none;
}

.loading-text {
    color: #594AE2;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}